.checkbox-ticket-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.booking-details-container{
    margin: 1rem 0px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    z-index: 5 !important;
    overflow: hidden;
    >div{
        
        position: relative;
        >label{
            >span{
                max-width: 300px;
                padding-bottom: 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            >input{
                text-transform: capitalize;
                border: none;
                outline: none;
                background:none;
                font-weight: 900;
                font-size: 30px;
                line-height: 30px;
                width: 100%;
            }
        }
    }
    >div:not(:first-child){
        border-left: 1px solid #e7e7e7;
    }
}
.booking-inputBox{
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    .dropdown::after{
        border: solid #008cff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        content: '';
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        vertical-align: top;
        margin: 3px 0 0 8px;
        transition: all 0.3s ease-in-out;
    }
}
.hotel-booking-details-container{
    display: grid;
    grid-template-columns: 12fr 6fr 6fr 8fr 6fr;
    
}
.booking-inputBox:hover{
    background: #eaf5ff;
    
}
.train-booking-details-container{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}
.flight-booking-details-container{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;   
}
.searchPage-booking-inputBox{
    display: flex;
    flex-direction: column;
    position: relative;
    color: #0084ff;
    font-size: 14px;
    cursor: pointer;
    >input{
        background-color: inherit;
        outline: none;
        border: none;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }
    .dropdown::after{
        border: solid #008cff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        content: '';
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        vertical-align: top;
        margin: 3px 0 0 8px;
        transition: all 0.3s ease-in-out;
    }
    >span{
        text-transform: uppercase;
    }
    >div{
        color: #fff;
    }
}
.searchPage-booking-input{
    background: #ffffff1a;
    border-radius: 4px;
    padding: 4px 8px;
}
.searchPage-booking-details-container{
    display: flex;
    gap: 0.4rem;
    margin-left: 1.6rem;
}
.hotels-filter-bar{
    background-color: #DEF1FA;
    width: 100%;
    padding: 1rem 0;
    
    >ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        >li{
            position: relative;
            cursor: pointer;
        }
        >.active span:after{
            
            background: var(--color-primary,var(--color-primary,#008cff));
            border-radius: 10px;
            content: "";
            display: inline-flex;
            height: 3px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 2;
            bottom: -75%;
            
        }
    }
}
.hotel-card-container{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-bottom: 2rem;
    >li{
        flex-grow: 1;
        width: 80%;
    }
    >.hotel-card{
        display: flex;
        padding: 1rem;
        border: 1px solid rgb(169, 168, 168);
        border-radius: 0.25rem;
        gap: 1rem;
        &:hover{
            border: 1px solid #0084ff;
            cursor: pointer;
        }
        >img{
            object-fit: cover;
            width: 250px;
            height: 180px;
            border-radius: 0.25rem;
        }
        >div{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            >.coupleCheck{
                font-size: 0.8rem;
                color: grey;
                font-weight: 500;
                border: 1px solid grey;
                padding: 4px;
                width: fit-content;
                border-radius: 0.25rem;
            }
            >span:nth-child(2){
                color: #0084ff;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            >.cancelCheck{
                margin-top: 1rem;
                color: grey;
                font-size: 15px;
                font-weight: 400;
            }
        }
        >section{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            border-left: 1px solid grey;
            padding-left: 1rem;
            >span:nth-child(1){
                color: #084f92;
                font-weight: 600;
                font-size: 1.1rem;
                >span{
                    color: #fff;
                    background-color: #084f92;
                    border-radius: 0.25rem;
                    padding: 0 4px;
                }
            }
            >div{
                text-align: end;
                >span:nth-child(1){
                    font-weight: 700;
                    font-size: 1.7rem;
                    
                }
                >span:not(:nth-child(1)){
                    color: grey;
                    font-size: 0.9rem;
                    white-space: nowrap;
                }
            }
            >span:nth-child(3){
                white-space: nowrap;
                font-weight: 500;
                font-size: 0.9rem;
                color: #008cff;
            }
        }
    }
}
.hotel-cover-container{
    display: flex;
    position: relative;
    width: 100vw;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    >.carousel-picture{
        scroll-snap-align: start;
        >img{
            object-fit: cover;
            overflow: hidden;
            width: 100vw;
            height: 68vh;
        }
    }
}
.paths{
    position: absolute;
    top: 120%;
    left: 2rem;
    color: #fff;
    font-weight: 500;
    >a{
        color: #fff;
        
    }
    >a:nth-child(3){
        font-weight: 700;
    }
}









@media only screen and (max-width: 700px){
    .hotels-filter-bar{
        >ul{
            flex-direction: column;
            gap: 0.7rem;
            margin: 0 2rem;
            border: 1px solid grey;
            padding: 4px;
            border-radius: 0.25rem;
            >li{
                width: fit-content;
            }
            >.active span:after{
                background: none;
                
            }
            >.active{
                color: #0084ff;
            }
        }
    }
}
@media only screen and (max-width:940px) {
    .checkbox-ticket-container{
        flex-direction: column;
        align-items: flex-start;
        >div{
            width: 100%;
            >p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .booking-details-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        >div{
            flex-grow: 1;
            max-width: 100%;
            width: 100%;
            >label{
                >span{
                    max-width: 100%;
                }
            }
        }
        >div:not(:first-child){
            border: none;
            border-top: 1px solid #e7e7e7;
        }
    }
    .hotel-card-container{

        >.hotel-card{
            flex-direction: column;
            >section{
                border-left: none;
                border-top: 1px solid grey;
                padding-top: 1rem;
                align-items: flex-start;
                >div{
                    text-align: start;
                }
            }
        }
    }
    
}