.mainContent-container-wrapper{
    width: 100%;
}
.mainContent-container{
    background-color: white;
    margin-top: 28px;
    border-radius: 12px;
    padding: 65px 30px 0px 30px;
    width: 1200px;
    /* flex-grow: 1; */
}
.flights-ticket-active{
    background: #eaf5ff;
    border-radius: 20px;
    
}
.flight-booking-details-container{
    padding: 11px 0px;
}
.flight-booking-details{
    width: 100%;
    border-radius: 10px;
    margin: 0 auto 20px;
    border: 1px solid #e7e7e7;
    z-index: 5 !important;
}
.searchFromCity{
    width: 300px;
    height: 112px;
    border-right: solid 1px #e7e7e7;
}
.flight-inputBox{
    height: 112px;
    border-radius: 0;
    margin-right: 0;
    transition: all 0.2s linear;
}
.flight-inputBox:hover{
    background: #eaf5ff;
}
.flight-inputBox label{
    padding: 10px 19px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.label-input{
    text-transform: capitalize;
}
.flight-inputBox input{
    font-family: 'Mukta', 'Lato', sans-serif;
}
.flight-inputField{
    border: 0;
    outline: 0;
    background: none;
    min-width: 140px;
    max-height: 36px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    
}
.airPortName{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block; 
}
p[title]:hover:after {
    content: attr(title);
    width: 220px;
    position: absolute;
    top: 21px;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
    background-color: #eaf5ff;
    border-radius: 4px;
    padding: 8px;
    font-size: 10px;
    
}
.flightSwapCircle{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: -22px;
    border-radius: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: pointer;
}
.flightsSprite{
    background-image: url(//imgak.mmtcdn.com/pwa_v3/pwa_commons_assets/desktop/landingSprite@21x.webp);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 200px 650px;
    font-size: 0px;
    flex-shrink: 0;
}
.flightSwapIcon{
    width: 15px;
    height: 11px;
    background-position: -149px -111px;
}
.searchToCity{
    width: 300px;
    height: 112px;
    border-right: solid 1px #e7e7e7;
    padding-left: 20px;
    margin-left: -18px;
}
.flight-booking-details .dates{
    width: 158px;
    height: 112px;
    border-right: solid 1px #e7e7e7;
}
.flight-booking-details .dates .label-input::after, .flight-booking-details .flightTravellers .label-input::after {
    border: solid #008cff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    content: '';
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    vertical-align: top;
    margin: 3px 0 0 8px;
    transition: all 0.3s ease-in-out;
}
.shortYear::before {
    content: "'";
}
.flightTravellers{
    width: 214px;
    border-radius: 0 10px 10px 0;
}